.auth-container {
    width: min(90%, 600px);
    margin-block: auto;
    display: grid;
    gap: var(--gap-16);

    padding: var(--gap-32);
    background: var(--col-container);
    border-radius: var(--border-radius);

    &.login-container {
        width: min(90%, 500px);
    }

    .title {
        font-weight: 600;
        text-align: center;
    }

    .form-section {
        display: grid;
        gap: var(--gap-16);

        .remember-me {
            display: flex;
            place-items: center;
            gap: var(--gap-8);

            #remember-me {
                /*display: none;*/
                position: absolute;
                opacity: 0;
            }

            label.checkbox {
                width: var(--font-size-body);
                height: var(--font-size-body);
                aspect-ratio: 1;
                background: var(--col-surface);
                outline: 1px solid var(--col-text-secondary);
                border-radius: var(--border-radius-s);
            }

            input[type='checkbox']:checked + label.checkbox {
                background: var(--col-primary-hover);
            }

            input[type='checkbox']:focus + label.checkbox {
                /*background: orange;*/
                outline: 1px solid var(--col-accent);
            }
        }
    }

    .footnote {
        text-align: center;

        .footnote-link {
            color: var(--col-accent);
        }
    }
}
