@import './base.css';

*:focus {
    outline: 1px solid var(--col-accent);
}

a {
    text-decoration: none;
    color: var(--col-text-primary);
    display: inline-block;

    &:hover {
        color: var(--col-accent);
    }
}

.sub-title {
    font-family: var(--font-title);
    font-size: var(--font-size-category);
    text-align: center;
}

.container {
    background: var(--col-container);
}

.content {
    background: var(--col-content);
}

.surface {
    background: var(--col-surface);
}
