@import './base.css';

*:focus {
    outline: 1px solid var(--col-accent);
}

a {
    text-decoration: none;
    color: var(--col-text-primary);
    display: inline-block;

    &:hover {
        color: var(--col-accent);
    }
}
